#tooltip {
    background: #0080ff ;
  /*border: 3px solid #dadbdb;*/
    width: 250px;
    height: 60px;
    border-radius: 15px;
    font-size: 28px;
    max-width: 500px;
    
    padding: 1em 1em 1em 3em;
    position: absolute;
    background-position: left;
    background-size: 35px;
    font-weight: normal;
    


}

.rounded {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.red{
    color:red;
    
}
.white{
    color: #fff;
    
}

.offWhite{
    color: #404040;
}

.yello{
    color:yellow;
}
.top{
    margin-top: -160px;
    margin-left: -70px;

}
.right{
    margin-top: -47px;
    margin-left: 80px;
}
.left{
    margin-top: -47px;
    margin-left: -480px;
}

.bottom{
    margin-top: 50px;
    margin-left: -70px;
}
.padding{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.font{
    font-size: 18px;
    font-family: 'Comic Sans MS';
    font-weight: 600;

}
.bottomA{
    position: relative;

}
.bottomA::before{
    content: '';
    position: absolute;
    top: -50px;;
    left: 68px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 15px solid #d2d5d8;
    border-right-width: 15px;
    border-bottom: 15px solid #ff008c;
    margin-right: -15px;
    margin-top: 15px;
}

.leftA{
    position: relative;

}

.leftA::after{
    
    content: '';
    position: absolute;
    left: 354px;
    top: -13px;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 30px;
    border-bottom-width: 30px solid #fff;
    border-left: 70px solid #0080ff;
    margin-right: -15px;
    margin-top: 15px;
    
}

.rightA{
    position: relative;
}

.rightA::before{
    content: '';
    position: absolute;
    left: -61px;
    top: 50px;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 30px solid #fff;
    border-bottom-width: 50px;
    border-right: 70px solid #0080ff;
    margin-right: -15px;
    margin-top: 15px;
}

.topA{
    position: relative;

}

.topA::after{

    content: '';
    position: absolute;
    left: 65px;
    top:27px;;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 15px solid #e5e8eb;
    border-right-width: 15px;
    border-top: 15px solid #0080ff;
    margin-right: 0px;
    margin-top:40px;

}