#tooltip {
    background: #0080ff ;
    border: 3px solid #0080ff;
    width: 150px;
    height: 40px;
    border-radius: 50%;
    
    
    font-size: 15px;
    max-width: 120px;
    
    padding: 1em 1em 1em 3em;
    position: absolute;
    background-position: left;
    background-size: 35px;
    font-weight: normal;
    


}

.rounded {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.red{
    color:red;
    
}
.white{
    color: #fff;
    
}

.offWhite{
    color: #404040;
}

.yello{
    color:yellow;
}
.margin{
    margin-top: 20px;
    margin-left: -70px;

}
.leftMargin{
    margin-top: -30px;
    margin-left: 30px;
}
.rightMargin{
    margin-top: -30px;
    margin-left: -250px;
}

.bottomMargin{
    margin-top: -100px;
    margin-left: -70px;
}
.padding{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.font{
    font-size: 18px;
    font-family: 'Comic Sans MS';
    font-weight: 600;

}
.placementBottom{
    position: relative;

}
.placementBottom::before{
    content: '';
    position: absolute;
    top: -32px;;
    left: 68px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 15px;
    border-right-width: 15px;
    border-bottom: 15px solid #0080ff;
    margin-right: -15px;
    margin-top: 15px;
}

.placementLeft{
    position: relative;

}

.placementLeft::after{
    
    content: '';
    position: absolute;
    top: 7px;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-left: 18px solid #0080ff;
    margin-right: -15px;
    margin-top: 15px;
}

.placementRight{
    position: relative;
}

.placementRight::before{
    content: '';
    position: absolute;
    left: -15px;
    top: 10px;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-right: 18px solid #0080ff;
    margin-right: -15px;
    margin-top: 15px;
}

.placementTop{
    position: relative;

}

.placementTop::after{

    content: '';
    position: absolute;
    left: 65px;
    top:27px;;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top: 15px solid #0080ff;
    margin-right: 0px;
    margin-top:40px;

}