#tooltip {
    background: #e3e3e3 url(../images/search.png) no-repeat;
    border: 3px solid rgb(14, 144, 219);
    float: left;
    font-size: 12px;
    max-width: 120px;
    padding: 1em 1em 1em 3em;
    position: absolute;
    background-position: left;
    background-size: contain;


}

.rounded {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.red{
    color:red;
}
.yello{
    color:yellow;
}
.margin{
    margin-top: 20px;
    margin-left: -70px;

}
.padding{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.font{
    font-size: 18px;
    font-family: 'Comic Sans MS';
    font-weight: 600;

}
.arrow{
    position: relative;

}
.arrow::before{
    content: '';
    position: absolute;
    top: -32px;;
    left: 40px;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 15px;
    border-right-width: 15px;
    border-bottom: 15px solid rgb(14, 144, 219);
    margin-right: -15px;
    margin-top: 15px;
}
